.container {
    height: 57vh;
}
.content {
    width: 300rem;
    height: 300px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: red;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #e67e22; /* Darker orange color */
    color: #fff; /* White text */
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d35400; /* Even darker orange color on hover */
}

