.content {
    max-width: 800px;
    margin: 82px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    max-width: 400px;
    margin-bottom: 20px;
}

.register-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f8c291; /* Warm color */
    color: #fff; /* White text */
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

.button:hover {
    background-color: #ff9f4d; /* Lighter warm color on hover */
}

.login-prompt {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-prompt a {
    color: #f8c291; /* Warm color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-prompt a:hover {
    color: #ff9f4d; /* Lighter warm color on hover */
}

.error {
    color: red;
    font-size: 14px;
}
