  <div class="header">
      <nav>
            <ul class="menu-left">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/books">Books</a></li>
                <li><a routerLink="/quotes">Quotes</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/add-new">Add Book</a></li>
                <li *ngIf="isLoggedIn"><a routerLink="/add-quote">Add Quote</a></li>
            </ul>
            <a routerLink="/home" class="logo">BookBuzz</a>
            <ul class="menu-right">
                <li>{{ email }}</li>
                <li *ngIf="!isLoggedIn"><a routerLink="/auth/login">Login</a></li>
                <li *ngIf="!isLoggedIn"><a routerLink="/auth/register">Register</a></li>
                <li *ngIf="isLoggedIn">
                    <p routerLink="/auth/profile">
                        Welcome, {{user}}
                    </p>
                </li>
                <li *ngIf="isLoggedIn"><a routerLink="/auth/profile">Profile</a></li>
                <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
            </ul>
        </nav>

  </div>
